.background{
    height: 100%;
    max-width: 100%;
    margin-top: 5em;
    padding-left: 30px;
    align-content: center;
    justify-items: center;
}

.nav-bar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0em;
    min-height: 200px;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.nav-container{
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    float: left;
    max-width: 1340px;
    width: 1340px;
    overflow: hidden;
}

.nav-container li {
    font-family: 'MyWebFont';
    font-size: 18px;
    position: relative;
    right: 0;
    display: inline-block;
    padding-right: 20px;
    margin-top: 60px;
    transition:all 0.3s ease;
}

.nav-container li:hover {
    /* -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20);  */
}

.nav-container a {
    text-decoration: none;
    color: black;
    padding: 1vw;
    transition: 0.5s;
}

.nav-container li a:hover {
    text-decoration: white;
    color: white;
    background: black;
}

.spacer1 {
    width: 20vw;
}


.heading{
    position: relative;
    max-width: fit-content;
    display: flex;
    top: -4em;
    left: 33.5vw;
    justify-items: center;
    align-content: center;
    margin: auto;
}

@font-face{
    font-family: 'MyWebFont';
    src: url('./Content/font/msyi.ttf');
}

.heading h1 {
    letter-spacing: 10px;
    font-family: 'MyWebFont';
    font-size: 70px;
}

.heading h3 {
    position: relative;
    font-family: 'MyWebFont'; 
    color: white;
    background: black;
    font-size: 30px;
    left: -11vw;
    top: -51.5vh;
    height: 2vw;
    padding: 10px;
}

.line{
    position: relative;
    border-right: 4px solid black;
    border-top: 4px solid black;
    height: 80vh;
    width: 62vw;
    margin: 50px auto;
    top: 50px;
}

/* .line2 {
    border-bottom: 4px solid black;
    width: 1140px;
    position: relative;
    top: 35px;
    left: 300px;
    margin-bottom: 18px;
} */

.img1 {
    position: relative;
    width: 35vw;
    left: 25vw;
}

.rotate{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: relative;
    top: -19.7em;
    right: 3em;
    font-size: x-large;
}