.background{
    height: 100%;
    max-width: 100%;
    margin-top: 5em;
    padding-left: 30px
}

.nav-bar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0em;
    min-height: 200px;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.nav-container{
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    float: left;
    max-width: 1340px;
    width: 1340px;
    overflow: hidden;
}

.nav-container li {
    font-family: 'MyWebFont';
    font-size: 15px;
    position: relative;
    right: 0;
    display: inline-block;
    padding-right: 20px;
    margin-top: 60px;
    transition:all 0.3s ease;
}

.nav-container li:hover {
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20); 
}

.nav-container a {
    text-decoration: none;
    color: black;
    padding: 1vw;
}

.nav-container li a:hover {
    text-decoration: none;
    border: solid black 1px;
}

.spacer1 {
    width: 30vw;
}


.heading{
    position: relative;
    max-width: fit-content;
    display: flex;
    right: -70em;
    top: -4em;
}

@font-face{
    font-family: 'MyWebFont';
    src: url('/Content/font/msyi.ttf')  format('truetype');
}

.heading h1 {
    letter-spacing: 0.2em;
    font-family: 'MyWebFont';
    font-size: 4em;
}

.heading h3 {
    font-family: 'MyWebFont'; 
}

.line{
    position: absolute;
    left: -820px;
    border-right: 4px solid black;
    border-top: 4px solid black;
    height: 740px;
    width: 1140px;
    margin-top: -573px
}

/* .line2 {
    border-bottom: 4px solid black;
    width: 1140px;
    position: relative;
    top: 35px;
    left: 300px;
    margin-bottom: 18px;
} */

.img1 {
    position: relative;
    width: 35vw;
    right: -700px;
    top: 2em;
}

.rotate{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: relative;
    top: -19.7em;
    right: 3em;
    font-size: x-large;
}

.o {
    position: relative;
    left: -4.1em;
}